@font-face {
    font-family: kashima demo;
    src: url(Kashima\ Demo.otf);
  }
body{
    text-align: center;
    background-image:url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 648px 350px;
    background-position-x: 360px;
    background-position-y: 93px;
    
}

h1{
    font-size: 48px;
    margin-top: -1%;
}

h2{
    margin-top: -1px;
    margin-bottom: -1px;
}

p#info{
    margin-top: -1%;
    font-size: 20px;
}

button {
    background-color:#f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 83px;
}

span#h1{
    color: #f44336;
}

span#display{
    margin-top: -70px;
    font-size: 48px;
}

pre#output{
    border: 1px solid #f44336;
    border-spacing: 5%;
    text-indent: 2%;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    margin-top: -2px;
    text-align: center;
    font-family: 'kashima demo';
    /* color: white;
    background-color: rgba(32, 30, 30, 0.884); */
}